<!DOCTYPE html>
<html>
<head>
    <title>Index Page</title>
</head>
    <body>

        <nav>
            <a href="/posts">Posts</a>
            <a href="/posts/new">New User</a>
        </nav>

        <h1>All Posts</h1>
        <ul>
        <% @posts.each_with_index do |post,index| %>

          <li><%= post.id %><a href ="/posts/<%=  post.id %>"><%= post.name %></a>
          <a href="/posts/<%= post.id %>/edit">edit</a>
          <form action="/posts/<%= post.id %>" method="POST">
              <input type="submit" value="delete">
              <input type="hidden" name="_method" value="DELETE">
          </form>

          </li>
          <% end %>
        </ul>
    </body>
</html>
