


<h1>SHOW</h1>

<div class="picture">
  <p><%= @picture.id %></p>
  <img src="<%= @picture.img %>" />
  <p><%= @picture.caption %></p>
  <form action="<%= picture_path @picture %>" method="POST">
    <input type="submit" value="Delete">
    <input type="hidden" name="_method" value="DELETE">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  </form>

  <%= render "comments/form" , picture: @picture%>
</div>



<div class="comment">


<%  @picture.comments.reverse.each do |comm| %>

  <h2>  <%= comm.user.name%>
    <% if comm.user.pictures.first %>
      <img src="<%= comm.user.pictures.first.img %>" alt="">
    <% end %>

  (<%= comm.user.comments.length%>) </h2>
  <h1>  <%= comm.body %> </h1>


  <% end %>



</div>
