


<h1>SHOW</h1>

<div class="picture">
  <p><%= @picture.id %></p>
  <img src="<%= @picture.img %>" />
  <p><%= @picture.caption %></p>
  <form action="<%= picture_path @picture %>" method="POST">
    <input type="submit" value="Delete">
    <input type="hidden" name="_method" value="DELETE">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  </form>
</div>



<div class="comment">


<%  @commentb.each do |comm| %>

<% if comm.user_id == comm.picture_id%>
  <h1>  <%= comm.body %> </h1>

  <% end %>

  <%end%>


</div>
