    <div class="container-fluid">
      <form class="register-form" action="<%= users_path %>" method="POST">
          <div class="row">
               <div class="col-md-4 col-sm-4 col-lg-4">
                  <label for="firstName">NAME</label>
                   <input name="user[name]" class="form-control" type="text">
                   <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

               </div>
          </div>
          <div class="row">
               <div class="col-md-4 col-sm-4 col-lg-4">
                  <label for="email">EMAIL</label>
                   <input name="user[email]" class="form-control" type="email">
                   <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

               </div>
          </div>
          <div class="row">
               <div class="col-md-4 col-sm-4 col-lg-4">
                  <label for="password">PASSWORD</label>
                   <input name="user[password]" class="form-control" type="password">
                   <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

               </div>
          </div>
          <hr>
          <div class="row">
               <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
               <button class="btn btn-default regbutton" type="submit" >Register</button>
               <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
               <button class="btn btn-default logbutton">Sign up</button>
              </div>
          </div>

        </form>
    </div>
