<div class="row vertical-offset-100">



    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Please sign in</h3>
            <% if @message%>
            <p><%= @message %></p>
            <% end %>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form" action="<%= sessions_path %>" method="POST">
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="E-mail" name="session[email]" type="text">
                  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

              </div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="Password" name="session[password]" type="password" value="">
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

              </div>
			    		<input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
              <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
